<nav>
  <a href="{{ route('home') }}" class="href">Home</a>
  <a href="{{ route('directors.index') }}" class="href">Directors</a>
  <a href="{{ route('writers.index') }}" class="href">Writers</a>
</nav>
