<nav>
  <a href="{{ route('home') }}" class="href">Home</a>
  {{-- <a href="{{ route('movies.show', { slug: 'my-awesome-movie'})  }}" class="href">My awesome movie</a>
  <a href="{{ route('movies.show', { slug: 'another-movie'})  }}" class="href">Another movie</a> --}}
</nav>

