@layout( { title: movie.title })

  @slot('meta')
    <meta name="description" content="{{ movie.summary }}">
  @endslot

  <h1>{{ movie.title }}</h1>

  @if(movie.abstract)
  {{{ movie.abstract }}}
  @else
  <p>No abstract available</p>
  @end
@end
